:root {
  --NvidiaGreen: rgb(118, 185, 0);
  --AmdRed: rgb(237, 28, 36);
  --AllBlue: rgb(36, 123, 160);
}

body {
  margin: 0vw;
}

header,
footer {
  padding: 5vh;
  background-color: black;
  color: white;
}

header h1,
footer h1 {
  text-align: center;
}

footer p {
  text-align: left;
}

.Kontaktinfo {
  display: flex;
  flex-direction: row;
}

.Kontaktinfo img {
  width: 22vw;
  margin-right: 0.3vw;
}

h1 {
  font-family: "Krona One", sans-serif;
}

a,
p,
td,
th {
  font-family: "Noto Serif", serif;
  font-size: 1.3vw;
}

.IndexMain {
  display: grid;
  align-items: baseline;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 10vh;
}

.LinkToNvidia {
  grid-column: 1/1;
}

.LinkToNvidia a {
  color: var(--NvidiaGreen);
  text-decoration: none;
  font-weight: bold;
}

.LinkToAmd {
  grid-column: 2/2;
}

.LinkToAmd a {
  color: var(--AmdRed);
  text-decoration: none;
  font-weight: bold;
}

.LinkToAll {
  grid-column: 3/3;
}

.LinkToAll a {
  color: var(--AllBlue);
  text-decoration: none;
  font-weight: bold;
}

.LinkToNvidia:hover a,
.LinkToAmd:hover a,
.LinkToAll:hover a {
  text-decoration: underline;
}

.LinkToNvidia img,
.LinkToAmd img,
.LinkToAll img {
  width: 23vw;
}

.NvidiaMain,
.AmdMain {
  display: grid;
  align-items: baseline;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 10vh;
}

.NvidiaMain a {
  color: var(--NvidiaGreen);
  text-decoration: none;
  font-weight: bold;
}

.LinkToProduct1650 {
  grid-area: 1/1/1/2;
}

.LinkToProduct1660 {
  grid-area: 1/2/1/3;
}

.LinkToProduct2060 {
  grid-area: 1/3/1/4;
}

.LinkToProduct3070 {
  grid-area: 2/1/2/2;
}

.LinkToProduct3080 {
  grid-area: 2/2/2/3;
}

.LinkToProduct3090 {
  grid-area: 2/3/2/4;
}

.AmdMain a {
  color: var(--AmdRed);
  text-decoration: none;
  font-weight: bold;
}

.LinkToProduct5500 {
  grid-area: 1/1/1/2;
}

.LinkToProduct5600 {
  grid-area: 1/2/1/3;
}

.LinkToProduct5700 {
  grid-area: 1/3/1/4;
}

.LinkToProduct570 {
  grid-area: 2/1/2/2;
}

.LinkToProduct580 {
  grid-area: 2/2/2/3;
}

.LinkToProduct56 {
  grid-area: 2/3/2/4;
}

.LinkToProduct1650:hover a,
.LinkToProduct1660:hover a,
.LinkToProduct2060:hover a,
.LinkToProduct3070:hover a,
.LinkToProduct3080:hover a,
.LinkToProduct3090:hover a,
.LinkToProduct5500:hover a,
.LinkToProduct5600:hover a,
.LinkToProduct5700:hover a,
.LinkToProduct570:hover a,
.LinkToProduct580:hover a,
.LinkToProduct56:hover a,
.LinkToProduct1650All:hover a,
.LinkToProduct1660All:hover a,
.LinkToProduct2060All:hover a,
.LinkToProduct3070All:hover a,
.LinkToProduct3080All:hover a,
.LinkToProduct3090All:hover a,
.LinkToProduct5500All:hover a,
.LinkToProduct5600All:hover a,
.LinkToProduct5700All:hover a,
.LinkToProduct570All:hover a,
.LinkToProduct580All:hover a,
.LinkToProduct56All:hover a {
  text-decoration: underline;
}

.LinkToProduct1650 img,
.LinkToProduct1660 img,
.LinkToProduct2060 img,
.LinkToProduct3070 img,
.LinkToProduct3080 img,
.LinkToProduct3090 img,
.LinkToProduct5500 img,
.LinkToProduct5600 img,
.LinkToProduct5700 img,
.LinkToProduct570 img,
.LinkToProduct580 img,
.LinkToProduct56 img,
.LinkToProduct1650All img,
.LinkToProduct1660All img,
.LinkToProduct2060All img,
.LinkToProduct3070All img,
.LinkToProduct3080All img,
.LinkToProduct3090All img,
.LinkToProduct5500All img,
.LinkToProduct5600All img,
.LinkToProduct5700All img,
.LinkToProduct570All img,
.LinkToProduct580All img,
.LinkToProduct56All img {
  width: 15vw;
}

.AllMain {
  display: grid;
  align-items: baseline;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 10vh;
}

.AllMain a {
  color: var(--AllBlue);
  text-decoration: none;
  font-weight: bold;
}

.LinkToProduct1650All {
  grid-area: 1/1/1/2;
}

.LinkToProduct1660All {
  grid-area: 1/2/1/3;
}

.LinkToProduct2060All {
  grid-area: 1/3/1/4;
}

.LinkToProduct3070All {
  grid-area: 2/1/2/2;
}

.LinkToProduct3080All {
  grid-area: 2/2/2/3;
}

.LinkToProduct3090All {
  grid-area: 2/3/2/4;
}

.LinkToProduct5500All {
  grid-area: 3/1/3/2;
}

.LinkToProduct5600All {
  grid-area: 3/2/3/3;
}

.LinkToProduct5700All {
  grid-area: 3/3/3/4;
}

.LinkToProduct570All {
  grid-area: 4/1/4/2;
}

.LinkToProduct580All {
  grid-area: 4/2/4/3;
}

.LinkToProduct56All {
  grid-area: 4/3/4/4;
}

.Product1650,
.Product1660,
.Product2060,
.Product3070,
.Product3080,
.Product3090,
.Product5500,
.Product5600,
.Product5700,
.Product570,
.Product580,
.Product56 {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 10vh;
}

.ProductImage img {
  width: 35vw;
}

.ProductInfo {
  margin-left: 10vw;
}

.ProductInfo a {
  color: var(--AllBlue);
}

td,
th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

table {
  border: 1px solid black;
}

#Pris p {
  font-size: 1.9vw;
}

#Lager p {
  color: green;
  font-weight: bold;
}

#EjLager p {
  color: red;
  font-weight: bold;
}
